<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>iTunes 2.0</title>
</head>
<body>
<main>
    <section>
        <form method="get">
            <input type="text" name="trackName" placeholder="Search for tracks...">
            <input type="submit" >
        </form>
    </section>
    <section>
        <table>
            <thead>
                <th>Title</th>
                <th>Artist</th>
                <th>Album</th>
                <th>Genre</th>
            </thead>
            <tr th:each="track:${tracks}">
                <td th:text="${track.name}"></td>
                <td th:text="${track.artist.name}"></td>
                <td th:text="${track.album.title}"></td>
                <td th:text="${track.genre.name}"></td>
            </tr>
        </table>
    </section>

</main>
</body>